export CRAWLER_URL=string
export N4J_URL=string
export N4J_USER=string
export N4J_PASS=string
export MODEL_DIR=string
export CLIENT_NAME=string
export DO_REGION=string
export DO_URL=string
export DO_KEY_ID=string
export DO_SECRET=string
export deploy_env=string
